body {
    /* image url */
    background-image: url("../images/bg-home.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;
    /* height: 100%; */
}